.chat-text{
    overflow-y: scroll;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 15em;
    flex-grow: 4;
    padding: 2.5% !important;
}

.texts{
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-left: 0px;
    min-height: 2.7em;
    justify-content: flex-start;
    position: relative;
}

.message{
    padding: 2.5%;
    min-height: 2em;
    align-self: flex-end;
}

.message mat-chip{
    color: white !important;
}

.response{
    margin: 2.5%;
    margin-left: 0%;
    padding: 2.5%;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
}

.typing_gif{
    max-height:4em;
    max-width:4em;
    margin: .5%;
    background-color: #f5f5f5;
}

.logo-button{
    height:20px;
    width: 20px;
    margin: .5% !important;
    /*background-color: white*;*/
}

.logo{
    height:15px;
    width: 15px;
    margin: .5%;
}

.text-logo{
    position: absolute;
    top:80%;
    left: .5%;
}
.suggest-logo{
    /*margin: 0px !important;*/
    position: absolute;
    top:60%;
    left: 1px;
}

.texts-suggest{
    background-color: whitesmoke;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:3%;
    max-height: 10em;
}

.texts-suggest .title{
    margin: 2.5%;
    margin-left: 1%;
    align-self: flex-start;
    position: relative;
}

.texts-suggest .title-chip{
    margin-left: 10px;
}

.texts-suggest .suggestion{
    margin: 5px;
    margin-left: 0%;
    padding: 2.5%;
    align-self: flex-start;
}

.suggestion mat-chip{
    margin: 3px;
}

.type3{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin:2.5%;
    min-height: 5em;
    max-height: 8em;
    overflow:hidden;
    justify-content: center;
}

.type3 img{
    max-width:60%;
    max-height: 100%;
    align-self: flex-start;
}

.type1{
    padding: 0% !important;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    
    margin:2.5%;
    min-height: 20em;
    max-width: 60%;
    align-self: flex-start;
}

.type1 span{
    margin: 5%;
    color: black;
    font-size: 15px;
    align-self: stretch;
    flex-grow: 2;
}

.type1 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width:100%;
    max-height:100%;
    align-self: stretch;
    flex-grow: 2;
}

.type1 div{
    border-top-style: solid;
    border-color: gainsboro;
    border-top-width: 1px; 
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type1 div a{
    /*align-self: center;*/
    margin-top:3px;
    align-self: center;
    color: rgb(42, 28, 236);
    font-weight: 200;
    /*flex-flow: column;*/
}

.chat-type{
    align-self: stretch;
    /*margin-top: 3px;*/ 
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 2.7em;
    max-height: 3.4em;
    padding: 2.5% !important;
    padding-right: 0% !important;
    /*flex-wrap: wrap*/
}

.chat-type  input{
    flex-grow: 5;
    outline: none;
    border: none;
    overflow-wrap: break-word;
    /*border-style: solid;
    border-radius: 4px;
    border-color:darkslateblue !important;*/
    height: 2.7em;
    margin:0px !important;
    color:grey;
    font-size: 16px;
}

::placeholder {
    color:gainsboro;
    font-size: 16px;
    opacity: 1; /* Firefox */
}

.chat-type button{
    outline: none;
    border:none;
    /*background-color: white;*/
    font-size: 16px;
    margin: 2% !important;
    margin-left: 10% !important;
    padding: 0% !important;
    color:white;
    font-weight: 200;
}



/* MEDIA QUERIES*/

@media screen and (max-width:640px) {

    .chat-text{
        overflow-y: scroll;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        flex-grow: 4
    }

}

@media screen and (min-width:640px) and (max-width:800px) {

    .chat-text{
        overflow-y: scroll;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        flex-grow: 4
    }

    .chat-type{
        align-self: stretch;
        /*margin-top: 3px;*/ 
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        min-height: 2.7em;
        max-height: 3.4em;
        padding: 2.5% !important    
    }    
}

@media screen and (max-height:450px){
    .chat-text{
        overflow-y: scroll;
        background-color: whitesmoke;
        display: flex;
        height:10em;
        flex-direction: column;
        flex-grow: 4
    }
}
